# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Jupyter Notebook files (optional — only ignore if you don’t want to track any)
*.ipynb

# Numpy binary files
fulldesignspace3311280.npy #*.npy
*.npz

# OS / Editor junk
.DS_Store
*.swp
*.swo
*.tmp

# Python virtual environments
.env/
.venv/
env/
venv/

# IDE files
.vscode/
.idea/

# Logs and outputs
*.log

# Custom: simulation output directories (adjust as needed)
*.lammpstrj
*.traj
cv_cutoffs.csv
HAT_m2.sbatch
get_cands.py
prod_m3_amd.sbatch
set0ddgs.csv
